<ion-footer>
  <ion-toolbar>
    <ion-button routerLink="/home"  fill="inicio" class="small">
      <ion-icon name="home"  ></ion-icon>
      Inicio</ion-button> 
    <ion-button routerLink="/contacto" class="small" fill="contactos" >
      <ion-icon name="person-outline"></ion-icon>
      Contactos</ion-button>
      <ion-button routerLink="/ubicacion" class="small" fill="ubicación" >
        <ion-icon name="location-outline"></ion-icon>
        Ubicación</ion-button>
  </ion-toolbar>
</ion-footer>
