<<<<<<< HEAD

  .footer-btn {
    --background: transparent; 
    --color: #000; 
    font-size: 8px; 
    padding: 8px; 
  }

  .ion-button {
    --background: #f64b3b; 
    --color: #fff; 
  }

  .container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 100%;
  }
  

    
=======
.small {
    font-size: 10px; 
  }
>>>>>>> a369656037407e5bf87666e491f8948b0d786b15
   