.icon-espacio {
    margin-right: 10px; 
    color: rgb(255, 0, 0);
  }

  .icon-espacio1 {
    margin-right: 10px; 
    color: aqua;

  }

    .icon-espacio2 {
        margin-right: 10px; 
        color: blue;
    
  }

  .icon-espacio3 {
    margin-right: 10px; 
    color: rgb(238, 255, 0);
  }

  .icon-espacio4 {
    margin-right: 10px; 
    color: rgb(0, 255, 72);
  }

  .call-button{
    margin-right: 10px; 
  }
 