<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      QuickHelp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacto</ion-title>
    </ion-toolbar>
  </ion-header>
 
    
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item >
          <ion-icon name="person-outline" class="icon-espacio" ></ion-icon> 
          <ion-label>Junior Jean</ion-label>

          <ion-button class="call-button">
            <ion-icon name="call-outline"></ion-icon>
            
          </ion-button>
          <ion-button class="delete-button">
            <ion-icon name="trash-outline"></ion-icon>
            
          </ion-button>
          
          
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" class="icon-espacio1" ></ion-icon>
          <ion-label>Fidel Castro</ion-label>
          <ion-button class="call-button">
            <ion-icon name="call-outline"></ion-icon>
            
          </ion-button>
          <ion-button class="delete-button">
            <ion-icon name="trash-outline"></ion-icon>
            
          </ion-button>
          
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" class="icon-espacio2" ></ion-icon>
          <ion-label>Lovena Andre</ion-label>
          <ion-button class="call-button">
            <ion-icon name="call-outline"></ion-icon>
            
          </ion-button>
          <ion-button class="delete-button">
            <ion-icon name="trash-outline"></ion-icon>
            
          </ion-button>
          
          
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" class="icon-espacio3" ></ion-icon>
          <ion-label>Guy Phillipe</ion-label>
          <ion-button class="call-button">
            <ion-icon name="call-outline"></ion-icon>
            
          </ion-button>
          <ion-button class="delete-button">
            <ion-icon name="trash-outline"></ion-icon>
            
          </ion-button>
          
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" class="icon-espacio4" ></ion-icon>
          <ion-label>Martely Joseph</ion-label>
          <ion-button class="call-button">
            <ion-icon name="call-outline"></ion-icon>
            
          </ion-button>
          <ion-button class="delete-button">
            <ion-icon name="trash-outline"></ion-icon>
            
          </ion-button>
          
        </ion-item>
      </ion-list>
      <app-buton-agregar/>
    </ion-content>
    
    
</ion-content>
