.agregar {
    margin-right: 5px; /* Ajusta el espacio desde el borde derecho de la pantalla */
    position: fixed; /* Fija el botón en una posición específica */
    bottom: 70px; /* Ajusta el espacio desde el borde inferior de la pantalla */
    right: 20px; /* Ajusta el espacio desde el borde derecho de la pantalla */
}







